.navbar {
   position: fixed;
   width: 100%;
   padding: 2rem 3rem;
   top: 0;
   left: 0;
   transition: .3s;
   z-index: 100;
}

.nav-content {
   width: 100%;
   max-width: 1300px;
   margin: 0 auto;
   display: flex;
   align-items: center;
}

.navbar.fixed {
   background: var(--navbar-bg);
   padding: 1rem 3rem;
}


.nav-content .brand-logo {
   color: var(--link-color);
   font-size: 1.5rem;
   font-weight: bold;
   display: flex;
   align-items: center;
   flex: 2.5;
}

.nav-content .brand-logo:hover {
   color: var(--link-hover);
}

.nav-content .brand-logo .icon {
   width: 40px;
   margin-right: 5px;
}



.nav-content .nav-menu {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 7;
}

.nav-content .nav-menu .nav-item {
   margin: 0 10px;
}

.nav-content .nav-menu .nav-item>a {
   position: relative;
   color: var(--link-color);
   font-size: .8rem;
   font-weight: 600;
   text-transform: capitalize;
}

.nav-content .nav-menu .nav-item>a::before {
   content: "";
   position: absolute;
   background: var(--link-hover);
   width: 100%;
   height: 1.5px;
   left: 0;
   bottom: -40%;
   transform: scaleX(0);
   transform-origin: left;
   transition: .3s;
}

.nav-content .nav-menu .nav-item>a.active,
.nav-content .nav-menu .nav-item>a:hover::before {
   color: var(--link-hover);
   transform: scaleX(1);
}



/* Dropdown menu styles */

.dropdown-menu {
   position: relative;
}

.dropdown-menu .menu-btn {
   color: var(--link-color);
   font-size: .8rem;
   font-weight: 600;
   text-transform: capitalize;
}

.dropdown-menu .menu-btn i {
   margin-left: 10px;
}

.dropdown-menu .menu-btn,
.dropdown-menu .submenu-btn,
.dropdown-menu .dropdown li a {
   background: none;
   border: none;
   color: var(--link-color);
   padding: 10px 15px;
   display: block;
   text-align: left;
   font-size: .8rem;
   cursor: pointer;
   width: 100%;
}

.dropdown-menu .menu-btn {
   padding: 0;
}

.dropdown-menu .submenu-btn:hover,
.dropdown-menu .dropdown li a:hover {
   background: var(--hover-state);
   color: var(--light-text);
   border-radius: 5px;
}

/* Dropdown styling */
.dropdown-menu .dropdown {
   position: absolute;
   top: 130%;
   left: 0;
   background: var(--navbar-bg);
   width: max-content;
   min-width: 160px;
   display: none;
   flex-direction: column;
   border-radius: 5px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   z-index: 1000;
}

/* Sub-dropdown positioning */
.dropdown-menu .dropdown .dropdown {
   top: 0;
   left: calc(100% + 2px);
}

/* Hover effect for desktop */
@media (hover: hover) {
   .dropdown-menu li:hover>.dropdown {
      display: flex;
   }
}





.nav-actions {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex: 2.5;
}

/*
.nav-actions .search-box {
   width: 150px;
   height: max-content;
   overflow: hidden;
   display: flex;
   align-items: center;
   background: var(--light-bg);
   padding: 10px 5px;
   border: 1px solid var(--border-color);
   border-radius: 50px;
}

.nav-actions .search-box.active {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
}

.nav-actions .search-box input {
   width: 100%;
   border: none;
   outline: var(--border-color);
   background: var(--light-bg);
   color: var(--light-text);
   transition: .3s;
   padding-left: 5px;
}

.nav-actions .search-box input::placeholder {
   color: var(--primary-text);
}

.nav-actions .search-box label i {
   color:var(--light-text);
   background: var(--button-accent);
   padding: 5px 10px;
   border-radius: 50px;
}
*/



.nav-actions .social-media {
   display: flex;
   align-items: center;
}

.nav-actions .social-media a {
   color: var(--link-color);
   margin-right: 1rem;
}

.nav-actions .social-media a:hover {
   color: var(--link-hover);
}

.nav-actions .signup-btn {
   background: var(--button-accent);
   color: var(--light-text);
   border-radius: 20px;
   padding: 8px 15px;
   font-size: 0.8rem;
   font-weight: bold;
   text-transform: capitalize;
   transition: .3s;
}

.nav-actions .signup-btn:hover {
   background: var(--hover-state);
}

/* .nav-actions .cart {
   color: var(--link-color);
   font-size: 20px;
   margin-left: 20px;
   display: none;
} */

.nav-actions #menu-icon {
   background: none;
   border: none;
   display: none;
   margin-left: 1rem;
}

.nav-actions #menu-icon.fixed {
   position: fixed;
   z-index: 100;
}

.nav-actions #menu-icon span {
   display: block;
   width: 20px;
   height: 1px;
   background: var(--button-accent);
   transition: .5s;
}

.nav-actions #menu-icon:hover span {
   background: var(--hover-state);
}

.nav-actions #menu-icon span:first-child {
   margin-bottom: 7px;
}

@media only screen and (max-width: 1000px) {
   .nav-content {
      justify-content: space-between;
   }
   
   .nav-content .brand-logo {
      flex: none;
   }
   
   .nav-content .brand-logo .icon {
      width: 30px;
   }
   
   .nav-content .nav-menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: max-content;
      min-width: 300px;
      min-height: 100vh;
      background: var(--navbar-bg);
      flex-direction: column;
      justify-content: start;
      align-items: start;
      padding: 2rem;
      transition: top .5s;
      z-index: 90;
   }
   
   .nav-content .nav-menu.active {
      left: 0;
   }
   
   .nav-content .nav-menu .nav-item {
      margin: 0 0 30px 0;
   }
   
   .nav-content .nav-menu .nav-item a,
   .nav-content .nav-menu .menu-btn {
      font-size: 1rem;
   }
   
   
   
   .nav-actions {
      flex: none;
   }
   
   .nav-actions .social-media {
      display: none;
   }
   
   .nav-actions #menu-icon {
      display: block;
   }
}

@media only screen and (max-width: 500px) {
   
   .navbar,
   .navbar.fixed {
      padding: 1rem 2rem;
   }
}