@import url('./variables.css');
@import url('./base.css');
@import url('./typography.css');
@import url('./navbar.css');
@import url('./preloader.css');
@import url('./responsive.css');
@import url('./footer.css');


#site-header {
   position: relative;
   width: 100%;
   height: 100vh;
   overflow: hidden;
}

.header-container {
   position: relative;
   width: 100%;
   max-width: 1300px;
   height: 100%;
   margin: 0 auto;
}



.hero-slider {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.hero-slider .wrapper {
   width: 100%;
   height: 100%;
}

.hero-slider .wrapper .slide {
   position: relative;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.hero-slider .wrapper .slide::before {
   position: absolute;
   content: "";
   width: 100%;
   height: 100%;
   z-index: 5;
}

.hero-slider .wrapper .slide img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.hero-slider .swiper-pagination {
   padding: 20px;
}

.hero-slider .swiper-pagination-bullet {
   width: 30px;
   height: 10px;
   border-radius: 20px;
   background: var(--button-accent);
}



.hero-content {
   position: absolute;
   width: 100%;
   max-width: 1300px;
   margin: 0 auto;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0 9rem;
   z-index: 5;
}

.hero-content .hero-heading {
   width: 100%;
   color: var(--headline-text);
   margin-bottom: 1rem;
}

.hero-content .hero-heading span {
   color: var(--hover-state);
}

.hero-content .hero-subheading {
   max-width: 600px;
   color: var(--subheading-text);
   font-size: var(--h5-size);
   margin-bottom: 3rem;
}

.hero-content .hero-cta-btn {
   width: max-content;
   background: var(--button-accent);
   outline-offset: 5px;
   outline: 1px solid var(--border-color);
   color: var(--light-text);
   padding: .8rem 2rem;
   border-radius: 50px;
   font-size: 1.2rem;
   font-weight: bold;
   transition: .3s;
   display: flex;
   align-items: center;
   text-transform: capitalize;
}

.hero-content .hero-cta-btn img {
   width: 20px;
   margin-right: 10px;
}

.hero-content .hero-cta-btn:hover {
   outline: 1px solid var(--hover-state);
   background: var(--hover-state);
}

@media only screen and (max-width: 1000px) {
   .hero-content {
      padding: 0 3rem;
      align-items: center;
      text-align: center;
   }
}

@media only screen and (max-width: 800px) {
   .hero-content .hero-title {
      font-size: 2.5rem;
   }
   
   .hero-content .hero-title br {
      display: none;
   }
}

@media only screen and (max-width: 500px) {
   .hero-content {
      padding: 0 2rem;
   }
}



.section-container {
   width: 100%;
   max-width: 1300px;
   margin: 0 auto;
}


.gallery-section {
   position: relative;
   width: 100%;
   height: max-content;
   padding: 100px 3rem;
}

.gallery-section .section-container::before {
   position: absolute;
   content: "Gallery";
   font-size: 10rem;
   font-weight: bold;
   font-family: 'Montserrat', sans-serif;
   color: #F6F6F6;
   z-index: 0;
}

.gallery-section .section-title {
   position: relative;
   color: var(--headline-text);
   text-align: center;
   margin: 0 auto;
   margin-bottom: 30px;
   letter-spacing: 1px;
}

.gallery-section .section-title span {
   color: var(--hover-state);
}

.gallery-section .section-description {
   position: relative;
   color: var(--subheading-text);
   max-width: 650px;
   text-align: center;
   margin: 0 auto;
   margin-bottom: 40px;
}

.gallery-section .gallery-grid {
   position: relative;
   display: flex;
   gap: 20px;
   justify-content: center;
   flex-wrap: wrap;
   margin-bottom: 30px;
}

.gallery-section .gallery-grid .grid-item {
   width: 100%;
   max-width: 300px;
   overflow: hidden;
}

.gallery-section .gallery-grid .grid-item img {
   width: 100%;
}

.gallery-section .btn-more {
   position: relative;
   display: block;
   width: max-content;
   background: var(--button-accent);
   outline-offset: 5px;
   outline: 1px solid var(--border-color);
   color: var(--light-text);
   padding: .8rem 2rem;
   margin: 0 auto;
   border-radius: 50px;
   font-size: 1.2rem;
   font-weight: bold;
   transition: .3s;
   text-transform: capitalize;
}

.gallery-section .btn-more:hover {
   outline: 1px solid var(--hover-state);
   background: var(--hover-state);
}

@media only screen and (max-width: 1000px) {
   .gallery-section .section-container::before {
      display: none;
   }
}

@media only screen and (max-width: 500px) {
   .gallery-section {
      padding: 100px 2rem;
   }
}






.inspiration-section {
   background: var(--navbar-bg);
   padding: 100px 3rem;
   text-align: center;
}

.inspiration-section .section-title {
   position: relative;
   color: var(--headline-text);
   text-align: center;
   margin: 0 auto;
   margin-bottom: 30px;
   letter-spacing: 1px;
}

.inspiration-section .section-title span {
   color: var(--hover-state);
}

.inspiration-section .section-description {
   position: relative;
   color: var(--subheading-text);
   max-width: 650px;
   text-align: center;
   margin: 0 auto;
   margin-bottom: 40px;
}

.inspiration-grid {
   display: flex;
   gap: 20px;
   justify-content: center;
   flex-wrap: wrap;
   margin-bottom: 40px;
}

.inspiration-card {
   width: 230px;
   min-width: 230px;
   background: #fff;
   padding: 15px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   text-align: center;
   transition: transform 0.3s ease;
}

.inspiration-card:hover {
   transform: translateY(-5px);
}

.inspiration-card img {
   width: 100%;
   border-radius: 8px;
   margin-bottom: 10px;
}

.inspiration-card h3 {
   font-size: 18px;
   color: #333;
   margin-bottom: 5px;
}

.inspiration-card p {
   font-size: 14px;
   color: #777;
   margin-bottom: 20px;
}

.inspiration-section .btn {
   display: block;
   width: max-content;
   background: var(--button-accent);
   outline-offset: 5px;
   outline: 1px solid var(--border-color);
   color: var(--light-text);
   padding: .8rem 2rem;
   margin: 0 auto;
   border-radius: 50px;
   font-size: 1.2rem;
   font-weight: bold;
   transition: .3s;
   text-transform: capitalize;
}

.inspiration-section .btn:hover {
   outline: 1px solid var(--hover-state);
   background: var(--hover-state);
}


@media only screen and (max-width: 500px) {
   .inspiration-section {
      padding: 100px 2rem;
   }
   
   .inspiration-card {
      width: 100%;
   }
}








.products-section {
   position: relative;
   width: 100%;
   height: max-content;
   padding: 100px 3rem;
}

.products-section .section-container::before {
   position: absolute;
   content: "Products";
   right: 3rem;
   font-size: 10rem;
   font-weight: bold;
   font-family: 'Montserrat', sans-serif;
   color: #F6F6F6;
   z-index: 0;
}

.products-section .section-title {
   position: relative;
   color: var(--headline-text);
   text-align: center;
   margin: 0 auto;
   margin-bottom: 30px;
   letter-spacing: 1px;
}

.products-section .section-title span {
   color: var(--hover-state);
}

.products-section .section-description {
   position: relative;
   color: var(--subheading-text);
   max-width: 650px;
   text-align: center;
   margin: 0 auto;
   margin-bottom: 40px;
}




.product-slider {
   position: relative;
   width: 100%;
   height: max-content;
   margin-bottom: 2rem;
   overflow: hidden;
}

.product-slider .swiper-wrapper {
   width: 100%;
   height: 100%;
   margin-bottom: 50px;
}

.product-slider .swiper-slide {
   position: relative;
   width: 100%;
   height: 100%;
   background: var(--light-bg);
   border-radius: 5px;
   border: 1px solid #ccc;
   overflow: hidden;
}

.product-slider .swiper-slide .product-title {
   text-align: center;
   padding: 20px 10px;
   font-weight: 500;
   font-size: 13px;
}

.product-slider .swiper-slide img {
   width: 100%;
}







/* Product Card Container */
.product-card {
   background: #fff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   text-align: center;
   transition: transform 0.3s ease;
}

.product-card:hover {
   transform: scale(1.01);
}

/* Product Image */
.product-image {
   position: relative;
   width: 100%;
}

.product-image img {
   width: 100%;
   height: auto;
   display: block;
}

.badge {
   position: absolute;
   top: 10px;
   left: 10px;
   background: var(--warm-accent);
   color: var(--light-text);
   font-size: 12px;
   padding: 4px 8px;
   border-radius: 5px;
}

/* Product Info */
.product-info {
   padding: 20px 15px;
}

.product-title {
   font-size: 16px;
   font-weight: 600;
   margin: 5px 0;
}

.product-features {
   font-size: 12px;
   color: #555;
   margin-bottom: 10px;
}

/* Price */
.product-price {
   font-size: 14px;
   margin-bottom: 10px;
}

.current-price {
   color: var(--hover-state);
   font-weight: 600;
}

.original-price {
   color: #999;
   text-decoration: line-through;
   margin-left: 5px;
}

/* Button */
.btn {
   background: var(--button-accent);
   color: var(--light-text);
   border: none;
   padding: 8px 15px;
   font-size: 14px;
   border-radius: 5px;
   cursor: pointer;
   transition: background 0.3s;
}

.btn:hover {
   background: var(--hover-state);
}







.product-slider .product-prev,
.product-slider .product-next {
   position: absolute;
   background: none;
   border: none;
   color: var(--button-accent);
   padding: .5rem 1.5rem;
   font-size: 2rem;
   z-index: 5;
}

.product-slider .product-prev:hover,
.product-slider .product-next:hover {
   color: var(--hover-state);
}

.product-slider .product-prev {
   top: 50%;
   left: 0;
   transform: translateY(-50%);
}

.product-slider .product-next {
   top: 50%;
   right: 0;
   transform: translateY(-50%);
}

.product-slider .swiper-pagination {}

.product-slider .swiper-pagination-bullet {
   width: 30px;
   height: 10px;
   border-radius: 20px;
   background: var(--button-accent);
}




.products-section .btn-more {
   position: relative;
   display: block;
   width: max-content;
   background: var(--button-accent);
   outline-offset: 5px;
   outline: 1px solid var(--border-color);
   color: var(--light-text);
   padding: .8rem 2rem;
   margin: 0 auto;
   border-radius: 50px;
   font-size: 1.2rem;
   font-weight: bold;
   transition: .3s;
   text-transform: capitalize;
}

.products-section .btn-more:hover {
   outline: 1px solid var(--hover-state);
   background: var(--hover-state);
}

@media only screen and (max-width: 1000px) {
   .products-section .section-container::before {
      display: none;
   }
}

@media only screen and (max-width: 500px) {
   .products-section {
      padding: 100px 2rem;
   }
}






.about-section {
   width: 100%;
   height: max-content;
   background: linear-gradient(#0209, #0209), url("../img/houseplant-pot-table-wallpaper-preview.jpg") no-repeat center / cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 100px 3rem;
}

.about-content {
   display: grid;
   place-content: center;
   text-align: center;
}

.about-content .section-quote {
   color: var(--light-text);
   font-weight: bold;
   font-size: 5rem;
}

.about-content .section-title {
   color: var(--light-text);
   margin-bottom: 30px;
}

.about-content .section-description {
   color: var(--light-text);
   max-width: 600px;
   margin: 0 auto;
}

@media only screen and (max-width: 500px) {
   .about {
      padding: 100px 2rem;
   }
}





.services-section {
   position: relative;
   width: 100%;
   padding: 100px 3rem;
}

.services-section .section-container::before {
   position: absolute;
   content: "Services";
   font-size: 10rem;
   font-weight: bold;
   font-family: 'Montserrat', sans-serif;
   color: #F6F6F6;
   z-index: 0;
}

.services-section .section-title {
   position: relative;
   color: var(--headline-text);
   text-align: center;
   margin: 0 auto;
   margin-bottom: 30px;
   letter-spacing: 1px;
}

.services-section .section-title span {
   color: var(--hover-state);
}

.services-section .section-description {
   position: relative;
   color: var(--subheading-text);
   text-align: center;
   max-width: 650px;
   margin: 0 auto;
   margin-bottom: 40px;
}

.service-list {
   position: relative;
   max-width: 1300px;
   margin: 0 auto;
   display: grid;
   gap: 20px;
   grid-template: auto / repeat(3, 1fr);
   justify-content: center;
}

.service-list .service-item {
   background: var(--light-bg);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
   border-radius: 20px;
   padding: 30px;
   transition: .3s;
}

.service-list .service-item:hover {
   transform: scale(1.01);
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.service-list .service-item img {
   width: 40px;
   height: 40px;
   margin-bottom: 20px;
}

.service-list .service-item .item-title {
   color: var(--subheading-text);
   text-transform: capitalize;
   margin-bottom: 20px;
}

.service-list .service-item .item-description {
   color: var(--primary-text);
}



@media only screen and (max-width: 1000px) {
   .services-section .section-container::before {
      display: none;
   }
   
   .service-list {
      max-width: 800px;
      grid-template: auto / repeat(2, 1fr);
   }
}

@media only screen and (max-width: 600px) {
   .service-list {
      grid-template: auto / auto;
   }
}

@media only screen and (max-width: 500px) {
   .services-section {
      padding: 100px 2rem;
   }
}




.contact-section {
   width: 100%;
   padding: 100px 3rem;
   background: url("../img/the-abstract-white-with-flowerpot-on-a-table-near-the-window-and-curtain-clean-minimal-style-mood-background-free-photo.jpg") no-repeat center / cover;
}

.contact-section .section-container {
   max-width: 1000px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.contact-section .section-title {
   color: var(--headline-text);
   text-align: center;
   margin: 0 auto;
   margin-bottom: 30px;
   letter-spacing: 1px;
}

.contact-section .section-title span {
   color: var(--hover-state);
}

.contact-section .section-description {
   color: var(--subheading-text);
   max-width: 500px;
   text-align: center;
   margin-bottom: 40px;
}

.contact-section .subscription-form {
   width: 80%;
   display: flex;
}

.contact-section .subscription-form input {
   padding: 10px 30px;
   border-radius: 50px;
}

.contact-section .subscription-form .text-field {
   width: 100%;
   margin-right: 20px;
   background: var(--light-bg);
   outline-offset: 5px;
   outline: 1px solid var(--light-bg);
}

.contact-section .subscription-form .submit-btn {
   width: max-content;
   background: var(--button-accent);
   outline-offset: 5px;
   outline: 1px solid var(--border-color);
   color: var(--light-text);
   border-radius: 50px;
   font-size: 1.2rem;
   font-weight: bold;
   transition: .3s;
}

.contact-section .subscription-form .submit-btn:hover {
   outline: 1px solid var(--hover-state);
   background: var(--hover-state);
}

@media only screen and (max-width:700px) {
   .contact-section {
      padding: 100px 2rem;
   }
   
   .contact-section .section-title br {
      display: none;
   }
   
   .contact-section .subscription-form {
      flex-direction: column;
   }
   
   .contact-section .subscription-form input {
      width: 100%;
   }
   
   .contact-section .subscription-form .text-field {
      margin: 0;
      margin-bottom: 20px;
   }
   
   .contact-section .subscription-form .submit-btn {
      width: 100%;
   }
}



#site-footer {
   position: relative;
   width: 100%;
   padding: 50px 3rem;
}

.footer-content {
   width: 100%;
   max-width: 1300px;
   margin: 0 auto;
}

#site-footer .footer-content .back-to-top {
   position: absolute;
   top: -1.5rem;
   left: calc(50% - 1.5rem);
   transform: rotateZ(45deg);
   width: 3rem;
   height: 3rem;
   padding: 1rem;
   display: grid;
   place-content: center;
   outline-offset: 5px;
   outline: 1px solid var(--border-color);
   background: var(--button-accent);
}

#site-footer .footer-content .back-to-top i {
   color: var(--light-text);
   font-size: 1.3rem;
   transform: rotateZ(-45deg);
}

#site-footer .footer-content .back-to-top:hover {
   outline: 1px solid var(--hover-state);
   background: var(--hover-state);
}

.footer-content .row {
   display: grid;
   gap: 2rem 2rem;
   grid-template: auto / 1.5fr repeat(4, 1fr);
   padding-bottom: 30px;
}




.footer-content .brand_info .footer-logo {
   color: var(--link-color);
   font-size: 2.5rem;
   font-weight: bold;
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.footer-content .brand_info .footer-logo:hover {
   color: var(--link-hover);
}

.footer-content .brand_info .footer-logo .icon {
   width: 40px;
   margin-right: 5px;
}

.footer-content .brand_info p {
   color: var(--primary-text);
   font-weight: 500;
   text-transform: uppercase;
}





.footer-content .column h5 {
   color: var(--headline-text);
   font-size: clamp(1.1rem, 2vw, 1.3rem);
   margin-bottom: 1rem;
   text-transform: capitalize;
}

.footer-content .column ul li {
   margin-bottom: 10px;
}

.footer-content .column ul li a {
   color: var(--link-color);
   transition: .3s;
   text-transform: capitalize;
   font-weight: 500;
}

.footer-content .column ul li:hover a {
   font-weight: bold;
   color: var(--link-hover);
}




.footer-content .social-links {}

.footer-content .social-links li {}

.footer-content .social-links li a {}

.footer-content .social-links li a i {
   margin-right: 10px;
}







.footer-content .bottom {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.footer-content .bottom .footer__copyright,
.footer-content .bottom .footer__credits {
   color: var(--subheading-text);
   font-weight: 500;
}

.footer-content .bottom .footer__credits a {
   color: var(--link-color);
}

.footer-content .bottom .footer__credits a:hover {
   color: var(--link-hover);
}



@media only screen and (max-width: 1000px) {
   .footer-content .row {
      grid-template: auto / 1.5fr repeat(3, 1fr);
   }
}

@media only screen and (max-width: 900px) {
   .footer-content .row {
      grid-template: auto / 1.5fr repeat(2, 1fr);
   }
}

@media only screen and (max-width: 700px) {
   .footer-content .row {
      grid-template: auto / 1.5fr 1fr;
   }
}

@media only screen and (max-width: 500px) {
   #site-footer {
      padding: 50px 2rem;
   }
   
   .footer-content .brand_info p {
      width: 100%;
   }
   
   .footer-content .bottom {
      flex-direction: column;
   }
   
   .footer-content .bottom .footer__copyright {
      margin-bottom: 10px;
   }
}

@media only screen and (max-width: 500px) {
   .footer-content .row {
      grid-template: auto / 1fr;
   }
   
   .footer-content .row .column {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }
}